{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{# Css/Js Loading #}
{% set coreCss = 1%}
{% set cardCss = 1%}
{% set bootstrapCss = 1%}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card card-custom">
                    <div class="card-body">
                        <h5 class="card-title text-center">Inscription</h5>
                        <p class="card-text text-center">Envie de nous rejoindre ?</p>
                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}

                        {{ form_start(registrationForm, {'attr': {'class': 'form-custom'}}) }}
                        <div class="mb-3">
                            {{ form_label(registrationForm.email) }}
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(registrationForm.username, 'Pseudo') }}
                            {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.username) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>
                        <div class="mb-4">
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(registrationForm.agreeTerms, 'J\'accepte les termes et conditions') }}
                            {{ form_errors(registrationForm.agreeTerms) }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-mystic btn-block">S'inscrire</button>
                        </div>
                        {{ form_end(registrationForm) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
