{% extends 'index.html.twig' %}

{% block title %}Unit{% endblock %}

{# Css/Js Loading #}
{% set coreCss = 1%}
{% set heroCss = 1%}
{% set unitCss = 1%}
{% set buildingCss = 1%}
{% set bootstrapCss = 1%}

{% block card %}

    {# Panneau central #}
    <div class="main-panel">
        {% set buildingIndices = {'strong': 2, 'weak': 3, 'gravity': 1, 'electromagnetic': 0} %}
        {% set index = buildingIndices[category] %}
        {% set building = buildings[index] %}
        {% set buildingLevel = app.user.selectedEmpire.buildingLevels | filter(b => b.building.id == building.id) | first %}
        {% set time = buildingTimes[building.id] %}

        <div id="building-upgrade-{{ building.id }}" class="building-upgrade" style="float:right">
            <div class="header text-center data-purple">
                <h3>{{ building.name }}</h3>
            </div>

            <div class="content text-center upgrade-timer">
                <p>{{ building.description }}</p>
                <p>Niveau actuel : <span class="data-night-blue">{{ buildingLevel.level }}</span></p>
                <p>Coût de mise à niveau :</p>
                <ul class="data-night-blue">
                    {% for resource, cost in building.upgradeCost %}
                        {% set updatedCost = (cost * (1.3 ** buildingLevel.level)) | round(0, 'ceil') %}
                        {% set resourceName = resource - 1 %}
                        <li>{{ app.user.selectedEmpire.resources[resourceName].name }} : {{ updatedCost }}</li>
                    {% endfor %}
                </ul>
                <p>Temps de mise à niveau :</p>
                <ul class="data-night-blue">
                    <li>
                        {% if time.days > 0 %}{{ time.days }} jour(s) {% endif %}
                        {% if time.hours > 0 %}{{ time.hours }} heure(s) {% endif %}
                        {% if time.minutes > 0 %}{{ time.minutes }} minute(s) {% endif %}
                        {{ time.seconds }} seconde(s).
                    </li>
                </ul>

                {% if buildingLevel.upgradeStartTime %}
                    <div class="upgrade-timer">
                        <p>Temps restant :</p>
                        <span class="data-night-blue" id="countdown-{{ building.id }}" data-upgrade-end-time="{{ buildingLevel.upgradeEndTime.timestamp }}">Le compte à rebours doit commencer ici!</span>
                    </div>
                    <script src="{{ asset('js/countdown.js') }}"></script>
                {% else %}
                    <form action="{{ path('app_building_upgrade', {'id': building.id}) }}" method="post" class="upgrade-form">
                        <input type="hidden" name="_token" value="{{ csrf_token('upgrade' ~ building.id) }}">
                        <button type="submit" class="btn btn-mystic">Mettre à Niveau</button>
                        <div class="error-message d-none alert alert-danger" style="margin-top:33px"></div>
                    </form>
                {% endif %}
            </div>
        </div>
        {% for unit in units %}
            <div class="unit">
                <img src="{{ asset(unit.image) }}" class="unit-img" alt="Image de l'unité"/>
                <div class="unit-info">
                    <h3>
                        {{ unit.name }} :
                        {% set unitQuantity = 0 %}
                        {% if armyArray is not empty %}
                            {% for unitId, quantity in armyArray %}
                                {% if unit.id == unitId %}
                                    {% set unitQuantity = quantity %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {{ unitQuantity }}
                    </h3>
                    <hr>
                    <h4>Ressource nécessaire :</h4>
                    <ul>
                        <li>{{ app.user.selectedEmpire.resources[0].name }}: {{ unit.birthCost[1] }}</li>
                        <li>{{ app.user.selectedEmpire.resources[1].name }}: {{ unit.birthCost[2] }}</li>
                        <li>Durée de la naissance : {{ unit.birthTime }}s</li>
                    </ul>
                    <form action="{{ path('app_unit_buy', {'category': category, 'id': unit.id }) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('birth' ~ unit.id) }}">

                        <label for="quantity-{{ unit.id }}">Quantité :</label>
                        <input type="number" id="quantity-{{ unit.id }}" name="quantity" min="1" value="1" required>

                        <button type="submit" class="btn btn-mystic">Invoquer</button>
                        <div class="units-in-queue">
                            <h4>Unités en cours de naissance :</h4>
                            <ul>
                                {% for unitInQueue in unitsInQueue %}
                                    <li>
                                        {{ unitInQueue.unit.name }} - Quantité : {{ unitInQueue.quantity }}
                                        - Fin : <span id="countdown-{{ unitInQueue.id }}" data-upgrade-end-time="{{ unitInQueue.endTime.timestamp }}"></span>
                                        <script src="{{ asset('js/countdown.js') }}"></script>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </form>
                </div> {# End Unit Info #}
                <details close>
                    <summary>
                        <span class="icon-background">
                            Voir plus de détails<img src="{{ asset('images/icons/help-circle.svg') }}" alt="Information">
                        </span>
                    </summary>
                    <h4>Description :</h4>
                    <ul>
                        <li>{{ unit.description }}</li>
                    </ul>
                    <h4>Caractéristiques de combat :</h4>
                    <ul>
                        <li>Santé : {{ unit.health }}</li>
                        <li>Attaque : {{ unit.attack }}</li>
                        <li>Défense : {{ unit.defence }}</li>
                        <li>Rapidité : {{ unit.speed }}</li>
                        <li>Endurance : {{ unit.endurance }}</li>
                        <li>Armure : {{ unit.shield }}</li>
                        <li>Stockage : {{ unit.stockage }}</li>
                    </ul>
                </details>
            </div> {# End Unit #}
            <hr>
        {% endfor %}
    </div> {# End Main Panel #}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.upgrade-form').forEach(function (form) {
                form.addEventListener('submit', function (e) {
                    e.preventDefault();

                    const formData = new FormData(form);
                    const url = form.action;

                    fetch(url, {
                        method: 'POST',
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            const errorDiv = form.querySelector('.error-message');

                            if (data.success) {
                                location.reload();
                            } else {
                                errorDiv.textContent = data.error;
                                errorDiv.classList.remove('d-none');
                            }
                        })
                        .catch(error => {
                            console.error('Erreur lors de la requête :', error);
                        });
                });
            });
        });
    </script>

{% endblock %}
